@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.glassCard {
  background: rgba(0, 0, 0, 0.4);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(225, 225, 225, 0.18);
}
#root,
body,
html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  background: #ebf0ff;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.bottom-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);
}
.custom-shadow {
  box-shadow: 0 10px 15px 5px rgba(248, 157, 33, 0.25);
}
.shadow-btn-contact {
  box-shadow: 0 10px 15px 5px rgba(46, 176, 230, 0.25);
}
